{% extends 'custom/base.html' %}
{% load static %}

{% block body_block %} 

<section class="home-search-section">
<div class="container">
<div class="wrapper-content">
<div class="row align-items-center">
<div class="col-lg-6">
 <div class="doctor-search">
<div class="banner-header aos" data-aos="fade-up">
<h2>Turn your ideas into maintainable software that scales with your business. <br> <span class="highlighter"></span></h2>
<p>We guide our clients through their digital transformation by providing competent and dedicated teams that can tackle the whole process from idea to reality.

	Our secret sauce is the focus and attention to the small details that make a software team great. We take huge pride in recruiting amazing talents and retain them for a long period of time while also putting a great emphasis on building a culture based on collaboration, trust and curiosity.
	
	We carefully hand pick full time developers who are willing to commit to our mission to build better products and services for our clients in a cost efficient and collaborative way.
</p>
<h3>Why Choose Us</h3>
<ul>
	<li>We listen to their business needs</li>
	<li>We understand how to build great products and services</li>
	<li>We are a cost effective addition to their existing team</li>
    <li>We constantly challenge ourselves to learn new things and keep our clients in the loop</li>  
</ul>
<h3>How we are different</h3>
<p>We strive to build stable technology with beautiful interfaces that merge to become delightful experiences for our clients and their users. 
<br>
</p>
<p><b>Software chamber</b> is an attractive workplace that puts
	a strong emphasis on using a proven technology stack together with
	enabling a new generation of developers to grow in a great work environment 
	and to learn and experiment among like minded people. 
</p>

</div>
<div class="doctor-form aos" data-aos="fade-up">

</div>
</div>
</div>
<div class="col-lg-6 aos" data-aos="fade-up">
<img src="{% static '' %}assets/img/slideimg1.png" class="img-fluid dr-img" alt="">
</div>
</div>
</div>
</div>
</section>


<section class="about-section">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-12">
<div class="section-heading aos" data-aos="fade-up">
<h2>We build amazing products together with You.</h2>
<p>We are passionate about crafting products that bring your ideas to life. 
	As a leading product agency specializing in Python, Django, JavaScript, 
	and React development, we possess the expertise to create outstanding 
	solutions that is tailor made for your business.
	Our team of experienced developers is dedicated to 
	delivering great software that drives innovation and propels your business forward.
</p>
</div>
<div class="section-heading aos" data-aos="fade-up">
<h4 style="color: Lightseagreen;" class="mb-4">Software chamber is a holistic partner for your business.
	 So,Let's Build products together with your dedicated team. 
	 It is our joy to have the opportunity to collaborate.
</h4>

</div>
<a href="{% url 'contact-us' %}" class="about-titile mb-4">Let's Work Together!</a>
</div>
<div class="col-md-6">
</div>
</div>
</div>
</section>

<section class="select-category">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Software Solution</h4>
<p>We are specialized in building innovative and user-centered digital products from concept to deployment. Our team collaborates closely with clients to understand their vision and deliver exceptional products that exceed expectations.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-01.png" alt="" width="42">
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Web and Mobile App Development</h4>
<p>We create robust and scalable web and mobile applications tailored to meet specific business needs.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-02.png" alt="" width="42">
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Continuous Support and Maintenance</h4>
<p>We provide comprehensive support and maintenance services to ensure the continued success of your products.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-03.png" alt="" width="42">
</div>
</div>
</div>
</div>
</div>
</div>
</section>
{% block form_block %}

{% endblock %}

{% endblock %}

