{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Software chamber is a Software development Company that provides Software Solution, Web and Mobile App Development, Continuous Support and Maintenance">
<meta property="twitter:description" content="softwarechamber.com">
<meta property="og:image" content="https://softwarechamber.com/static/assets/img/sheare_logo.jpg">
<meta name="title" content="Software chamber">
<meta property="og:title" content="Software chamber">
<meta property="og:url" content="https://softwarechamber.com/">
<meta property="twitter:url" content="https://softwarechamber.com/">
<meta property="twitter:title" content="Software chamber">
<meta property="twitter:image" content="https://softwarechamber.com/static/assets/img/sheare_logo.jpg">
<meta property="og:description" content="Software chamber is a Software development Company that provides Software Solution, Web and Mobile App Development, Continuous Support and Maintenance">
<meta property="og:type" content="software development">
<meta name="twitter:card" content="https://softwarechamber.com/static/assets/img/sheare_logo.jpg">
<meta name="twitter:title" content="Software Chamber">
<meta name="twitter:description" content="softwarechamber.com">
<meta name="twitter:image" content="https://softwarechamber.com/static/assets/img/sheare_logo.jpg">
<title>Software Chamber</title>

<link type="image/x-icon" href="{% static '' %}assets/img/faviconk.png" rel="icon">
<link href="{% static '' %}assets/img/faviconk.png" rel="icon">

<link rel="stylesheet" href="{% static '' %}assets/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '' %}assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="{% static '' %}assets/plugins/fontawesome/css/all.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/feather.css">
<link rel="stylesheet" href="{% static '' %}assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="{% static '' %}assets/css/aos.css">
<link rel="stylesheet" href="{% static '' %}assets/css/style.css">

<!-- JSON-LD structured data for Organization -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareSolutionCompany",
    "name": "Software Chamber",
    "url": "https://www.softwarechamber.com",
    "logo": "https://www.softwarechamber.com/static/assets/img/sheare_logo.jpg",
    "description": "A Software development Company that provides Software Solution, Web and Mobile App Development, Continuous Support and Maintenance"
    // Other properties related to the organization can be added here
  }
  </script>
</head>
<body>
	
<div class="main-wrapper">

<header class="header">
<nav class="navbar navbar-expand-lg header-nav">
<div class="navbar-header">
<a id="mobile_btn" href="javascript:void(0);">
<span class="bar-icon">
<span></span>
<span></span>
<span></span>
</span>
</a>
<a href="{% url 'home' %}" class="navbar-brand logo">
<img src="{% static '' %}assets/img/logo.png" class="img-fluid" alt="Logo">
</a>
</div>
<div class="main-menu-wrapper">
<div class="menu-header">
<a href="{% url 'home' %}" class="menu-logo">
<img src="{% static '' %}assets/img/logo.png" class="img-fluid" alt="Logo">
</a>
<a id="menu_close" class="menu-close" href="javascript:void(0);">
<i class="fas fa-times"></i>
</a>
</div>
<ul class="main-nav">
<li class="has-submenu active">
<a href="{% url 'home' %}">Home </a>
</li>
<li class="">
<a href="{% url 'about-us' %}">About Us </i></a>
</li>
<li class="">
<a href="{% url 'contact-us' %}">Contact Us </a>
</li>

<li class="has-submenu">
<a href="#">Blog </a>
</li>
</ul>
</div>
<ul class="nav header-navbar-rht">
<li class="nav-item contact-item">
<div class="header-contact-img">
<i class="fas fa-phone-alt"></i>
</div>
<div class="header-contact-detail">
<p class="contact-info-header"> +880 1832344599</p>
</div>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
</li>
</ul>

</nav>
</header>






{% block body_block %} 

<section class="section pharm-slide-home">
<div>
<div class="slick-wrapper container">
<div class="pharm-slider">

<div class="col-12 d-flex">
<div class="col-12 col-md-6 aos" data-aos="fade-up">
<div class="slide-image">
<h2>Let's Work Together <span> !</span> </h2>
<h6>We are your software development team</h6>

<p class="text-start">Software chamber is a holistic partner for your business. So,Let's Build products together with your dedicated team. It is our joy to have the opportunity to collaborate.</p>
<br><br>
<div class="d-inline-block text-start">
<a href="{% url 'contact-us' %}" class="btn book-btn1 bg-primary" >Let's start</a>
</div>
</div>
</div>
<div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
<img src="{% static '' %}assets/img/frontimg2 .png" class="img-fluid" alt="">
</div>
</div>





<div class="col-12 d-flex">
<div class="col-12 col-md-6 aos" data-aos="fade-up">
<div class="slide-image">
<h2>Let's Work Together <span> !</span> </h2>
<h6>We are your software development team</h6>

<p class="text-start">Software chamber is a holistic partner for your business. So,Let's Build products together with your dedicated team. It is our joy to have the opportunity to collaborate.</p>
<br><br>
<div class="d-inline-block text-start">
<a href="{% url 'contact-us' %}" class="btn book-btn1 bg-primary" >Let's start</a>
</div>
</div>
</div>
<div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
<img src="{% static '' %}assets/img/frontimg2 .png" class="img-fluid" alt="">
</div>
</div>


<div class="col-12 d-flex">
<div class="col-12 col-md-6 aos" data-aos="fade-up">
<div class="slide-image">
<h2>Let's Work Together <span> !</span> </h2>
<h6>We are your software development team</h6>

<p class="text-start">Software chamber is a holistic partner for your business. So,Let's Build products together with your dedicated team. It is our joy to have the opportunity to collaborate.</p>
<br><br>
<div class="d-inline-block text-start">
<a href="{% url 'contact-us' %}" class="btn book-btn1 bg-primary" >Let's start</a>
</div>
</div>
</div>
<div class="col-12 col-md-6 d-flex justify-content-center aos" data-aos="fade-up">
<img src="{% static '' %}assets/img/slideimg1.png" class="img-fluid" alt="">
</div>
</div>

</div>
</div>
</div>
</section>


<section class="select-category">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Software Solution</h4>
<p>We are specialized in building innovative and user-centered digital products from concept to deployment. Our team collaborates closely with clients to understand their vision and deliver exceptional products that exceed expectations.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-01.png" alt="" width="42">
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Web and Mobile App Development</h4>
<p>We create robust and scalable web and mobile applications tailored to meet specific business needs.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-02.png" alt="" width="42">
</div>
</div>
</div>
</div>
<div class="col-lg-4 col-md-6 category-col d-flex">
<div class="category-subox pb-0 d-flex flex-wrap w-100">
<h4>Continuous Support and Maintenance</h4>
<p>We provide comprehensive support and maintenance services to ensure the continued success of your products.</p>
<div class="subox-img">
<div class="subox-circle">
<img src="{% static '' %}assets/img/icons/vect-03.png" alt="" width="42">
</div>
</div>
</div>
</div>
</div>
</div>
</section>






{% endblock %}


<section class="section section-specialities">
<div class="container-fluid">
<div class="section-header text-center">
<h2><span>Our stack powers</span> some of the worlds most beloved companies</h2>
<p class="sub-title">We have carefully selected a few of the most beloved technology stacks that power everything from fast growing startups to billion dollar companies.</p>
</div>
<div class="row justify-content-center">
<div class="col-md-9">

<div class="specialities-slider slider">

<div class="speicality-item text-center">
<div class="speicality-img">
<img src="{% static '' %}assets/img/specialities/Python.png" class="img-fluid" alt="Speciality">
<span><i class="fa fa-circle" aria-hidden="true"></i></span>
</div>
<p>Python</p>
</div>


<div class="speicality-item text-center">
<div class="speicality-img">
<img src="{% static '' %}assets/img/specialities/django.jpg" class="img-fluid" alt="Speciality">
<span><i class="fa fa-circle" aria-hidden="true"></i></span>
</div>
<p>Django</p>
</div>


<div class="speicality-item text-center">
<div class="speicality-img">
<img src="{% static '' %}assets/img/specialities/drf.png" class="img-fluid" alt="Speciality">
<span><i class="fa fa-circle" aria-hidden="true"></i></span>
</div>
<p>DRF</p>
</div>


<div class="speicality-item text-center">
<div class="speicality-img">
<img src="{% static '' %}assets/img/specialities/fluter.png" class="img-fluid" alt="Speciality">
<span><i class="fa fa-circle" aria-hidden="true"></i></span>
</div>
<p>Flutter</p>
</div>


<div class="speicality-item text-center">
<div class="speicality-img">
<img src="{% static '' %}assets/img/specialities/redis.png" class="img-fluid" alt="Speciality">
<span><i class="fa fa-circle" aria-hidden="true"></i></span>
</div>
<p>Redis</p>
</div>


<div class="speicality-item text-center">
  <div class="speicality-img">
  <img src="{% static '' %}assets/img/specialities/dokar.png" class="img-fluid" alt="Speciality">
  <span><i class="fa fa-circle" aria-hidden="true"></i></span>
  </div>
  <p>Docker</p>
  </div>

</div>

</div>
</div>
</div>
</section>

<section class="section section-testimonial">
<div class="container">
<div class="section-header text-center mb-4">
<h2>Build products together with your dedicated team.</h2>
<p class="sub-title">We do everything from research, planning, execution, deployment and quality assurance.</p>
</div>
<div class="row justify-content-center">
<div class="col-lg-12">

<div class="testimonial-slider slider">

<div class="testimonial-item text-center">
<div class="testimonial-img">
<img src="{% static '' %}assets/img/mishu.png" class="img-fluid" alt="Speciality">
</div>
<div class="testimonial-content">
<p>CEO</p>
<p class="user-name">- M B H Mishu</p>
<p class="user-location mb-0">Dhaka, Bangladesh</p>
<p><i class="fas fa-phone-alt"> +880 1832344599</i></p>
</div>
</div>
 

<div class="testimonial-item text-center">
<div class="testimonial-img">
<img src="{% static '' %}assets/img/fahim.jpg" class="img-fluid" alt="Speciality">
</div>
<div class="testimonial-content">
<p>VP</p>
<p class="user-name">- Fahim Shahriar</p>
<p class="user-location mb-0">Selangor, Malaysia</p>
<p><i class="fas fa-phone-alt"> +60 137414348</i></p>
</div>
</div>


<div class="testimonial-item text-center">
<div class="testimonial-img">
<img src="{% static '' %}assets/img/ismail.jpg" class="img-fluid" alt="Speciality">
</div>
<div class="testimonial-content">
<p>VP</p>
<p class="user-name">- Ismail</p>
<p class="user-location mb-0">New York, USA</p>
<p><i class="fas fa-phone-alt"> +1 929 299 9628</i></p>
</div>
</div>


<div class="testimonial-item text-center">
<div class="testimonial-img">
<img src="{% static '' %}assets/img/habib.JPG" class="img-fluid" alt="">
</div>
<div class="testimonial-content">
<p>VP</p>
<p class="user-name">- Habibur Rahman</p>
<p class="user-location mb-0">Dhaka, Bangladesh</p>
<p><i class="fas fa-phone-alt"> On leave</i></p>
</div>
</div>



<div class="testimonial-item text-center">
<div class="testimonial-img">
<img src="{% static '' %}assets/img/iqbal.JPG" class="img-fluid" alt="Speciality">
</div>
<div class="testimonial-content">
<p>VP</p>
<p class="user-name">- Iqbal</p>
<p class="user-location mb-0">Dhaka, Bangladesh</p>
<p><i class="fas fa-phone-alt"> On leave</i></p>
</div>
</div>




</div>

</div>
</div>
</div>
</section>




{% block form_block %}
<section class="contact-form">
<div class="container">
<div class="section-header text-center">
<h2>LET’S WORK TOGETHER</h2>
<p><h4>It is our joy to have the opportunity to collaborate.</h4>We would love to hear from you! We will get back to you within 24-48 hours.</p>

</div>
<div class="row">
<div class="col-md-12">

<form action="{% url 'contac_form_view' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Your name <span>_</span></label>
<input type="text" name="name" class="form-control">
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>Your Email <span>*</span></label>
<input type="text" name="email" required class="form-control">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label>Subject <span>_</span></label>
<input type="text" name="subject" required class="form-control">
</div>
</div>
<div class="col-md-12">
<div class="form-group">
<label>Message <span>*</span></label>
<textarea name="message" required class="form-control">

											</textarea>
</div>
</div>
</div>
<button class="btn bg-primary">Send Message</button>
</form>
</div>
</div>
</div>
</section>

{% endblock %}


<section class="our-blog-section">
<div class="container">
<div class="row">
<div class="col-md-6">
<div class="section-heading aos" data-aos="fade-up">
<h2>Blogs and News</h2>
<p>Read Professional Articles and Latest Articles</p>
</div>
</div>
<div class="col-md-6 text-end aos" data-aos="fade-up">
<div class="owl-nav slide-nav-4 text-end nav-control"></div>
</div>
</div>
<div class="owl-carousel blogs owl-theme aos" data-aos="fade-up">
<div class="item">
<div class="our-blogs">
<div class="blogs-img">
<a href="#"><img src="{% static '' %}assets/img/subcribenewsleter.png" alt="" class="img-fluid"></a>
</div>
<div class="blogs-info">
<a href="#"> <span>What is difference between website and web application?</span></a>
<p>The content on a website can be viewed, read, or listened to, but the user cannot manipulate it.</p>
<span class="blogs-time"><i class="far fa-clock"></i> 3 Dec 2023</span>
</div>
<div class="blogs-nav">
<a href="#" class="blogs-btn">Read More</a>
</div>
</div>
</div>
<div class="item">
<div class="our-blogs">
<div class="blogs-img">
<a href="#"><img src="{% static '' %}assets/img/newsletter-bg.png" alt="" class="img-fluid"></a>
</div>
<div class="blogs-info">
<a href="#"><span>হোস্টিং কি? হোস্টিং এর প্রকারভেদ ও হোস্টিং এর দাম নিয়ে বিস্তারিত</span></a>
<p>কোন ওয়েবসাইট বা ব্লগ বানানোর জন্য, ওয়েবসাইট বা ব্লগের সমস্ত ডাটা যেমন-টেক্সট, ভিডিও, ইমেজ ইত্যাদি যেখানে জমা রাখা হয়</p>
<span class="blogs-time"><i class="far fa-clock"></i> 10 Dec 2023</span>
</div>
<div class="blogs-nav">
<a href="#" class="blogs-btn">Read More</a>
</div>
</div>
</div>
<div class="item">
<div class="our-blogs">
<div class="blogs-img">
<a href="#"><img src="{% static '' %}assets/img/header-blogesss.png" alt="" class="img-fluid"></a>
</div>
<div class="blogs-info">
<a href="#"><span>মোবাইল অ্যাপ ও ওয়েব অ্যাপ এর মধ্যে পার্থক্য কি</span></a>
<p>মোবাইল অ্যাপ্লিকেশনগুলি দ্রুত নেতৃত্ব দেয় এবং ব্যবহারকারীদের জন্য ব্রাউজিংয়ের আরও পরিশীলিত অনুভূতি দেয় ৷ </p>
<span class="blogs-time"><i class="far fa-clock"></i> 15 Dec 2021</span>
</div>
<div class="blogs-nav">
<a href="#" class="blogs-btn">Read More</a>
</div>
</div>
</div>


</div>
</div>
</section>





<section class="newsletter-container">
<div class="container">
<div class="newsletter-box">
<div class="row">
<div class="col-lg-8 col-md-12">
<div class="newsletter-content-box">
<h3 class=" aos" data-aos="fade-up">Grab Our Newsletter</h3>
<p class=" aos" data-aos="fade-up" data-aos-delay="300">Get the latest updates.</p>
<div class="newsletter-input-section aos" data-aos="fade-up" data-aos-delay="500">
<input type="text" placeholder="Enter Your Email Address">
<a href="#">Subscribe</a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="newsletter-container-img text-end aos" data-aos="fade-up">
<img src="{% static '' %}assets/img/subcribenewsleter.png" alt="">
</div>
</div>
</div>
</div>
</div>
</section>

<footer class="footer footer-2">

<div class="footer-bottom">
<div class="container-fluid">
<div class="copyright">
<div class="row">
<div class="col-md-6 col-lg-6">
<div class="copyright-text">
<p class="mb-0">
<a href="{% url 'home' %}" class="navbar-brand logo">
<img src="{% static '' %}assets/img/logo.png" class="img-fluid" alt="Logo">
</a>
</p>
</div>
</div>
<div class="col-md-6 col-lg-6">
<div class="copyright-menu">
<ul class="policy-menu">
<li><a href="{% url 'contact-us' %}">Contact Us</a></li>
<li>
<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
</li>
<li>
<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
</li>

</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>

</div>




<script data-cfasync="false" src="{% static '' %}assets/cdn-cgi/email-decode.min.js"></script><script src="{% static '' %}assets/js/jquery-3.6.0.min.js"></script>

<script src="{% static '' %}assets/js/bootstrap.bundle.min.js"></script>

<script src="{% static '' %}assets/js/owl.carousel.min.js"></script>

<script src="{% static '' %}assets/js/slick.js"></script>

<script src="{% static '' %}assets/js/feather.min.js"></script>

<script src="{% static '' %}assets/js/aos.js"></script>

<script src="{% static '' %}assets/js/isotope.pkgd.min.js"></script>

<script src="{% static '' %}assets/js/script.js"></script>
</body>


</html>


